.introduction-image {
  grid-area: ii-pic;
  padding-bottom: 24px;
  width: var(--bg-photo-width);
  width: auto;
  display: none;

  @media (min-width: 1024px) {
    padding-bottom: 32px;
    width: 386px;
    display: block;
  }
}

.introduction__item {
  @media (min-width: 768px) {
    padding-left: var(--outer-gap-horizontal);
    padding-right: var(--outer-gap-horizontal);
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-column-gap: 48px;
    grid-template-columns: max-content;
    grid-template-rows: min-content;
    grid-template-areas:
      "ii-pic ii-header"
      "ii-pic ii-info";

  }
}

.introduction__header {
  font-size: 0;
  grid-area: ii-header;
}

.introduction__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding-bottom: 32px;
}

.introduction__info {
  grid-area: ii-info;
  padding-bottom: 32px;
}

.introduction__sessions {
  border-collapse: collapse;
  width: 100%;
  margin: 0 -0.2em;
  // font-size: 80%;

  border-bottom: 1px solid var(--c-grey2);

  th {
    text-align: left;
  }

  tbody tr:nth-child(2n + 1) {
    background: var(--c-grey2);
  }

  td, th {
    padding: 0.4em 0.2em;
  }
}
