---
layout: layout
id: home
---

<header>
  <h1 class="word">ffconf</h1><br>
  <h2><span class="word"><time class="dtstart" title="2019-11-08">Friday 8 Nov 2019</time></span></h2>
</header>

<p>{{"ffconf is a full day of eight carefully curated sessions for an audience that cares about the future of the web, and who want their ideas challenged." | spannup | safe}}</p>

<p>{{"Further details published soon. Follow"| spannup | safe}} <a href="https://twitter.com/ffconf">@ffconf</a> {{"and join our"| spannup | safe}} <a href="https://ffconf.org/news">mailing list</a></p>

<ul>
<li><a href="/assets/ffconf-2019-sponsor-pack.pdf">Sponsor pack</a></li>
<li><a href="/code-of-conduct">Code of conduct</a></li>
<li><a href="https://2018.ffconf.org">ffconf 2018</a></li>
</ul>
