:root {
  --gap: 16px;
  --border: 2px solid var(--c-white);
  --gap-border: 18px;

  @media (min-width: 768px) {
    --gap: 32px;
    --gap-border: 34px;
  }
}

.wrapper {
  border-left: var(--border);
  border-right: var(--border);
  margin: 0 var(--gap);
}

.special,
.nav-full,
.nav-main,
.quote,
.section,
.header__location,
.footer__content {
  border-bottom: var(--border);
  margin-left: calc(-1 * var(--gap-border));
  margin-right: calc(-1 * var(--gap-border));
  padding-left: var(--gap-border);
  padding-right: var(--gap-border);
}

.nav-main {
  border-top: var(--border);
}

.nav-main__button {
  position: relative;

  &:after {
    border-right: var(--border);
    content: "";
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -1px;
  }
}

.🦄 {
  .nav-main__link--button[aria-expanded="true"] {
    color: var(--c-white1);
    position: relative;

    &:before {
      background: var(--bg-black);
      border-left: var(--border);
      border-top: var(--border);
      content: "";
      height: 12px;
      left: calc(50% - 4px);
      position: absolute;
      top: -7px;
      transform: rotate(45deg);
      width: 12px;
    }

    & ~ .nav-main__list {
      border-bottom: var(--border);
      margin-left: calc(-1 * var(--gap-border));
      margin-right: calc(-1 * var(--gap-border));
      padding-left: var(--gap-border);
      padding-right: var(--gap-border);
    }
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: calc(36px + 314px + 2px) auto;
  }

  .header__date,
  .logo {
    border-right: var(--border);
  }

  .header__date {
    border-bottom: var(--border);
    margin-left: calc(-1 * var(--gap-border));
    padding-left: var(--gap-border);
  }

  .logo {
    max-width: unset;
  }
}
