@font-face {
  font-family: 'FF ArberVintageExtended';
  src: url('/fonts/Arber-Vintage-Extended.otf'),
       url('/fonts/Arber-Vintage-Extended.woff') format('woff');
  /* font-weight: 400; */
  font-style: normal;
}
