*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --c-grey: rgb(216, 216, 216);
  --c-grey1: rgba(216, 216, 216, 0.5);
  --c-grey2: rgba(216, 216, 216, 0.25);
  --c-black: #111;
  --c-white: #fff;
  --c-white1: rgba(255, 255, 255, 0.5);
  --c-red: #cc635f;
  --c-red2: #cb4d4d;
  --c-red3: #c6524d;
  --c-red4: #d85252;

  --f-special: "FF ArberVintageExtended";
  --f-normal: "FF Barlow", sans-serif;

  --bg-white: var(--c-white) url("/static/images/style/bg-light.jpg") repeat-x;
  --bg-black: var(--c-black) url("/static/images/style/bg-dark.jpg");

  font-size: 10px;
}

body {
  background: var(--bg-black);
  color: var(--c-white);
  font-family: var(--f-normal);
  font-size: 1.7rem;
  line-height: 1.41;
  margin: 0;
}

a {
  color: var(--c-red4);

  &:hover,
  &:focus {
    color: inherit;
  }
}

.cursor-help {
  cursor: help;
}

/* === Show dynamic background image as if it was a proper photo */
.dynamic-image::before,
.dynamic-image::after {
  background: var(--bg-photo) no-repeat;
  background-size: cover;
  display: block;
  line-height: 0;
  position: relative;
  z-index: 1;
}

.dynamic-image--square::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E");
}
