.footer {
  font-family: var(--f-special);
  font-size: 2.4rem;
  text-align: center;
}

.footer__content {
  a {
    text-decoration: none;
  }

  p {
    margin-left: var(--outer-gap-horizontal);
    margin-right: var(--outer-gap-horizontal);
    padding-left: var(--inner-gap-horizontal);
    padding-right: var(--inner-gap-horizontal);
  }
}
