.locations {
  text-transform: lowercase;
}

.locations,
.locations-category__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.locations-category__title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 32px;
}

.locations-category__item {
  margin-bottom: 24px;

  &:after {
    border-bottom: 2px solid var(--c-grey1);
    content: "";
    display: block;
    margin-top: 24px;
    width: 42px;
  }

  &:last-child:after {
    border-bottom-color: var(--c-black);
    margin-top: 36px;
    width: 100%;

    .locations__category:last-child & {
      border-bottom-color: transparent;
    }
  }
}

.location__link {
  color: inherit;
  font-weight: 600;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--c-red4);
  }
}

.location__detail,
.location__extra {
  margin: 0;
}

@media (min-width: 768px) {
  .locations {
    background: var(--bg-black);
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 32px;
    text-align: center;
  }

  .locations__category {
    background: var(--bg-white);
    padding: 0 24px;
  }

  .locations-category__title {
    font-size: 4rem;
    margin-bottom: 48px;
  }

  .locations-category__item {
    &:after {
      margin-left: auto;
      margin-right: auto;
    }

    &:last-child:after {
      border-bottom-color: transparent;
    }
  }
}
