.nav-main {
  background: var(--bg-black);
  font-family: var(--f-special);
  // padding-bottom: 64px;
  // padding-top: 24px;
  position: -webkit-sticky; // Safari
  position: sticky;
  // text-align: center;
  top: 0;
  z-index: 2;
  // width: 100%;
}

.nav-main__content {
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "list list"
    "ticket menu";
}

.nav-main__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 24px 0;
  grid-area: list;
}

.nav-main__item {
  padding: 12px 0;
}

.nav-main__link {
  border-bottom: 2px solid transparent;
  color: var(--c-white);
  font-size: 3.2rem;
  line-height: 1.25;
  padding-bottom: 4px;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom-color: var(--c-red2);
  }
}

.nav-main__button {
  grid-area: ticket;
}

// .nav-main-buy__text {
//   font-weight: normal;
// }

.nav-main__link--button {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: none;
  font-family: inherit;
  font-size: 2.6rem;
  padding: 18px 31px 17px;
  grid-area: menu;

  &:hover,
  &:focus {
    color: var(--c-red2);
  }
}

.🦄 {
  .nav-main__link--button {
    display: block;
  }

  .nav-main__link--button[aria-expanded="false"] ~ .nav-main__list {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-main__content {
    grid-template-columns: auto;
    grid-template-areas: "ticket list";
  }

  .nav-main__list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav-main__link {
    font-size: 2.6rem;
    line-height: 1;
  }

  //   .nav-main-buy {
  //     display: none;
  //   }

  .🦄 {
    .nav-main__link--button {
      display: none;
    }

    .nav-main__list.nav-main__list.nav-main__list {
      display: flex;
    }
  }
}

// @media (min-width: 1024px) {
//   .nav-main__link {
//     font-size: 2.8rem;
//   }
// }
