.clouds {
  background: url("/static/images/style/back-clouds-small.png") no-repeat 50% 0;
  background-size: 90% auto;
  height: 100vh;
  position: fixed;
  width: 100vw;
  will-change: transform;

  @media (min-width: 768px) {
    background-image: url("/static/images/style/back-clouds-big.png");
  }
}
