.sponsors {
  padding-top: 96px;
}

.sponsors-category {
  margin-bottom: 24px;
  position: relative;
}

.sponsors-category__list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsors-category__title {
  color: var(--c-white);
  font-size: 2.4rem;
  margin-bottom: 32px;
  text-align: center;
}

.sponsor {
  background: var(--c-white);
  flex: 0 0 auto;
  margin: 0 0 8px;
}

.sponsor--1st {
  height: 152px;
  width: 100%;
}

.sponsor--2nd,
.sponsor--3rd,
.sponsor--4th,
.sponsor--5th {
  height: 96px;
  width: calc(50% - 4px);
}

.sponsor__link--image {
  display: block;
  height: 100%;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 100%;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.sponsor__image {
  border: 0 none;
  max-height: 100%;
  max-width: 100%;
  text-transform: uppercase;
  vertical-align: middle;

  &::after {
    align-items: center;
    background: var(--c-white);
    bottom: 0;
    content: attr(alt);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.sponsors-category--available {
  text-align: center;
}

@media (min-width: 768px) {
  .sponsors {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: var(--content-general-padding);
    padding-right: var(--content-general-padding);
  }

  .sponsors-category__title {
    font-size: 3.2rem;
    margin-bottom: 40px;
    text-align: left;
    white-space: nowrap;
  }

  .sponsors-category--2nd,
  .sponsors-category--3rd,
  .sponsors-category--4th,
  .sponsors-category--5th {
    margin-bottom: 48px;
  }

  .sponsors-category--1st,
  .sponsors-category--2nd {
    width: 100%;
  }

  .sponsors-category--3rd,
  .sponsors-category--4th,
  .sponsors-category--5th {
    width: calc(50% - 20px);
  }

  .sponsor {
    --sponsor-total: var(--total, 2);
    --sponsor-padding: 16px;
    --sponsor-height: 96px;

    height: var(--sponsor-height);
    margin-bottom: var(--sponsor-padding);
    width: calc(
      (100% - var(--sponsor-padding) * (var(--sponsor-total) - 1)) /
        var(--sponsor-total)
    );
  }

  .sponsor--1st {
    --sponsor-height: 192px;
    --sponsor-padding: 40px;
  }

  .sponsor--2nd {
    --sponsor-height: 128px;
    --sponsor-padding: 16px;
  }

  .sponsor--3rd,
  .sponsor--4th,
  .sponsor--5th {
    --sponsor-height: 96px;
    --sponsor-padding: 16px;
  }

  .sponsors-category--available {
    text-align: left;
  }
}
