.workshop__tag,
.workshop__speaker {
  margin-bottom: 24px;
}

.workshop__tag {
  margin-right: 8px;
}

.workshop__image {
  display: none;

  @media (min-width: 768px) {
    grid-area: wi-pic;
    display: block;
    max-width: var(--bg-photo-max-width);
    width: var(--bg-photo-width);
  }
}

.workshop__header {
  font-size: 0;
}

.workshop__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding-bottom: 36px;
}

.workshop-wrapper {
  padding: 32px 0 0;

  @media (min-width: 768px) {
    display: grid;
    grid-column-gap: 48px;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    grid-template-areas:
      "wi-pic ."
      "wi-pic .";
    padding-left: var(--outer-gap-horizontal);
    padding-right: var(--outer-gap-horizontal);
  }
}
