.workshops__item {
  border-bottom: 2px solid var(--c-black);
  padding: 32px 0 0;

  &:last-child {
    border-bottom: 0 none;
  }
}

.workshops__image {
  display: none;
}

.workshops__header {
  font-size: 0;
}

.workshops__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding-bottom: 32px;
}

.workshops__tag,
.workshops__speaker {
  margin-bottom: 24px;
}

.workshops__tag {
  margin-right: 8px;
}

.workshops__link,
.workshops__buy {
  margin-bottom: 16px;
  width: 100%;
}

.workshops__link {
  margin-right: 16px;
}

.workshops__description,
.workshops__intro {
  font-size: 1.7rem;
  margin: 0;
}

.workshops__description {
  padding: 0 0 24px;
}

.workshops__intro {
  padding-bottom: 32px;
}

@media (min-width: 640px) {
  .workshops__link,
  .workshops__buy {
    width: auto;
  }
}

@media (min-width: 768px) {
  .workshops__item {
    display: grid;
    grid-column-gap: 48px;
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    grid-template-areas:
      "wi-pic ."
      "wi-pic .";
    padding-left: var(--outer-gap-horizontal);
    padding-right: var(--outer-gap-horizontal);
  }

  .workshops__image {
    grid-area: wi-pic;
    display: block;
    max-width: var(--bg-photo-max-width);
    width: var(--bg-photo-width);
  }
}
